# {{ project_name }}

[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-purple.json)](https://github.com/copier-org/copier)
[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](LICENSE)
[![Checked with mypy](http://www.mypy-lang.org/static/mypy_badge.svg)](http://mypy-lang.org/)
[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)
[![codecov](https://codecov.io/github/{{ organization_slug }}/{{ project_name }}/graph/badge.svg)](https://codecov.io/github/{{ organization_slug }}/{{ project_name }})

{{ project_description }}

> A reproducible [Snakemake](https://snakemake.readthedocs.io/en/stable/)
workflow for data processing, feature extraction, and modeling using the
{{ package_name }}.
Built with [`Copier`](https://copier.readthedocs.io/en/stable/) from the
[`able-workflow-copier`](https://github.com/NEU-ABLE-LAB/able-workflow-copier)
template.

---

## The {{ project_name }} Workflow

- [ ] TODO add a sentence or two generally about what a snakemake workflow is.

### Environment setup and basics of workflow execution with Snakemake

Create the minimal Conda environment to run the workflow

```bash
conda env update --name {{ package_name }}-py312-workflow --file workflow/envs/{{ package_name }}-py312-workflow.yaml
```

Before running any Snakemake commands, you need to localize the package path in the Snakemake environment files. This is done by running the `conda_localize` rule:

```bash
snakemake conda_localize
```

### Building the documentation

- [ ] TODO explain that all the info about the workflow, rules, and data inputs and output can be found in the documentation.
- [ ] TODO add instructions for building, serve, and view the documentation locally if the docs are not hosted on a public server. This should be possible with the minimal workflow requirements, since Snakemake will create a rule environment to build the docs.
- [ ] TODO add a link to the hosted documentation if it exists.


## Development guidelines

- [ ] TODO add instructions for setting up the development environment.
- [ ] TODO add instructions for running the tests and linter.
- [ ] TODO add instructions for adding new features to the workflow and associated package.

## 📜  License & citation

This project is distributed under the MIT License — see [LICENSE](LICENSE) for details.
If you reuse the dataset or pipeline, please cite.
