# Configuration of {{ project_name_long }} Workflow

- `config.yaml`: The base configuration file
- `config.local.yaml`: Loaded automatically if it exists. (See: `config.local.example.yaml`)

# TODO-copier-module Add module specific configuration files
# TODO-copier-package Explain validation against JSON schema in `workflow/schemas/`.
