# How to use this workflow and package

Create the minimal Conda environment to run the workflow

```bash
conda env update --name {{ package_name }}-py312-workflow --file workflow/envs/py312-workflow.yaml
```

Before running any Snakemake commands, you need to localize the package path in the Snakemake environment files. This is done by running the `conda_localize` rule:

```bash
snakemake conda_localize
```

TODO-copier-package write overview of what is needed to run the workflow. Point user to separate instructions for setting up the development environment if they plan to edit the workflow or package. Explain `able-workflow-module-copier` and `able-workflow-etl-copier` in a sentence or two to cover the concept of adding to the package and workflow.

TODO-copier-package Explain `conda_localize` rule. Why is it necessary? The environment yamls could pip install from github, but that would mean every commit needs to be pushed in order to test it. The pacakge can't simply be placed in the `workflow/scripts` because Snakemake only copies the script being requested by the `script:` directive, not its dependencies. The environment yaml cannot use a relative path, because when Snakemake makes its cache of the environment, it is in a path that changes based on file hashes.

TODO-copier-package Once sentence explaination about why WSL is required. Point user to Windows setup instructions. Then tell them to follow Linux instructions once WSL is setup.

TODO-copier-package point user to Linux setup instructions.

TODO-copier-package point user to SLURM setup instructions.
