# `tests/{{ package_name }}/`

Unit tests for the `{{ package_name }}` package.

## Requirements

These tests should be run with just the dependencies specified in the `dependencies` section of `pyproject.toml`. That is, unless the tests reside in an `extras_*/` directory, in which case they require the associated extras for the package in the `optional-dependencies` section of `pyproject.toml`.
