# # Post Copier To-Do's for {{ project_name_long }}

This issue is for tracking the development of the {{ project_name_long }} project copied from the `able-workflow-copier` template.

## Next steps

### Environment Setup

1. **Install minimal dependencies**: See `README.md` for adding the `{{ package_name }}-py312-workflow` Conda environment.

2. **Localize Conda environments**: Run the `conda_localize` rule to set up the Snakemake environment files:

   ```bash
   snakemake conda_localize
   ```

3. **Build the documentation**: If the documentation is not hosted, you can build it locally using Snakemake. This will require the minimal workflow requirements.

   ```bash
   snakemake docs_serve
   ```

4. Open the documentation in your browser and follow the instructions for setting up the development environment on the *Contributing* page.

### Project Development

1. **Initialize git**: If you haven't already, initialize a git repository in the project directory:

   ```bash
   git init
   ```

   Then, add the remote repository URL if you have one:

   ```bash
   git remote add origin <your-repo-url>
   ```

   Then, commit the initial files:

   ```bash
   git add .
   git commit -m "Initial commit from able-workflow-copier template"
   ```

2. **Add a module**: Use the [`able-workflow-module`](https://github.com/NEU-ABLE-LAB/able-workflow-copier-dev/) template to create a new module for your project.

### Aspirational to-do's

These might be converted to issues to address throughout the life of the project.

#### Functionality

#### Online tools

- [ ] Configure [codecov](https://about.codecov.io/) for the repository.
  - [ ] TODO explain how to do this.
  - [ ] Update the codecov badge in `README.md` with the correct URL.
  - [ ] Update the codecov badge in `docs/docs/index.md` with the correct URL.
- [ ] Host the documentation on a public server (e.g. [github pages](https://docs.github.com/en/pages/getting-started-with-github-pages/creating-a-github-pages-site#next-steps))
  - [ ] TODO explain how to do this.

#### Documentation

- [ ] Add citation to the README.md with a public GitHub repository and/or DOI.
    - [ ] TODO explain how to get a DOI for a GitHub repo.
- [ ] Update `docs/docs/_images/logo.png` with your project logo in [`README.md`].
