name: test-and-build
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  {% raw -%}
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  {%- endraw %}
  cancel-in-progress: true

jobs:
  tox:
    {% raw -%}
    name: >-
      ${{ matrix.python-version }} • ${{ matrix.os }}
    {%- endraw %}

    {% raw -%}
    runs-on: ${{ matrix.os }}
    {%- endraw %}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.11"]
        os: ["ubuntu-latest"]

    env:
      TERM: xterm-256color
      PY_COLORS: "1"
      FORCE_COLOR: "1"
      PYTEST_ADDOPTS: "--color=yes"

    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: {{ package_name }}-py312-tox
          channels: conda-forge, bioconda
          channel-priority: strict
          conda-remove-defaults: "true"
          environment-file: workflow/envs/{{ package_name }}-py312-tox.yaml
          miniforge-version: latest

      - name: Setup test suite
        run: tox run-parallel --parallel auto --parallel-no-spinner --notest --skip-missing-interpreters false

      - name: Run tox
        run: tox run-parallel --parallel auto --parallel-no-spinner --skip-pkg-install

      - name: Build XML coverage
        {% raw -%}
        if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        {%- endraw %}
        run: |
          python -Im pip install --quiet "coverage[toml]"
          # Merge every .cover/.* created by tox in the `.cover/` directory into one .coverage
          python -Im coverage combine .cover
          # Produce the XML file Codecov will look for
          {% raw -%}
          python -Im coverage xml -i \
              -o .cover/coverage.${{ matrix.python-version }}.xml
          {%- endraw %}


      - name: Upload coverage to Codecov
        {% raw -%}
        if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/main' && env.CODECOV_TOKEN != '' }}
        {%- endraw %}
        env:
          {% raw -%}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          {%- endraw %}
        uses: codecov/codecov-action@v5
        with:
          {% raw -%}
          files: .cover/coverage.${{ matrix.python-version }}.xml
          flags: py${{ matrix.python-version }}
          token: ${{ env.CODECOV_TOKEN }}
          {%- endraw %}

      - name: Upload test results to Codecov
        {% raw -%}
        if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/main' && env.CODECOV_TOKEN != '' }}
        {%- endraw %}
        env:
          {% raw -%}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          {%- endraw %}
        uses: codecov/test-results-action@v1
        with:
          # pick up every junit.*.xml written by tox in the `.junit/` directory
          files: .junit/junit.*.xml
          {% raw -%}
          token: ${{ env.CODECOV_TOKEN }}
          {%- endraw %}

  build-test-artifacts:
    uses: ./.github/workflows/build.yml
    with:
      publish: false
