"""Generic Snakemake wrapper for calling `*/main.py:run` in `{{ package_name }}`."""

import importlib
import sys
from pathlib import Path
from typing import Any, Callable, Dict

import snakemake
from loguru import logger
from snakemake.io import Namedlist
from snakemake.script import Snakemake


# ---------------------------------------------------------------------------
# Main entry point
# ---------------------------------------------------------------------------


def main(smk: Snakemake) -> None:
    """Import and invoke the target function whose dotted path is given in ``smk.params.func``."""

    # Make **sure** we can always find the dotted path
    try:
        func_path = smk.params.func
    except AttributeError:
        raise AttributeError(
            "No «func» entry found in smk.params - did the rule forget to set it?"
        )

    # Import the target callable
    mod_path, func_name = func_path.rsplit(":", 1)
    module = importlib.import_module(mod_path)
    func: Callable[..., Any] = getattr(module, func_name)

    # Call the target callable with converted arguments
    func(smk=smk)


if __name__ == "__main__":  # pragma: no cover - entry point for Snakemake
    try:
        main(snakemake)
    except NameError:  # pragma: no cover - executed outside Snakemake
        logger.error(
            "This script is designed to be run as part of a Snakemake workflow."
            " Please run it through Snakemake."
        )
        sys.exit(0)
