# Project Template

This template created the main project structure.

## Updating

Update the project with changes to [`able-workflow-copier`]({% raw %}{{ able_workflow_copier_docs }}{{% endraw %}}) by running the following:

```bash
conda activate {{ package_name }}-py312-dev
copier update --trust --answers-file ".copier-answers/project.yml"
```
