# {{ project_name }}

[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-purple.json)](https://github.com/copier-org/copier)
[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](LICENSE)
[![Checked with mypy](http://www.mypy-lang.org/static/mypy_badge.svg)](http://mypy-lang.org/)
[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)
[![codecov](https://codecov.io/github/{{ organization_slug }}/{{ project_name }}/graph/badge.svg)](https://codecov.io/github/{{ organization_slug }}/{{ project_name }})

{{ project_description }}

> A reproducible [Snakemake](https://snakemake.readthedocs.io/en/stable/)
workflow for data processing, feature extraction, and modeling using the
{{ package_name }}.
Built with [`Copier`](https://copier.readthedocs.io/en/stable/) from the
[`able-workflow-copier`](https://github.com/NEU-ABLE-LAB/able-workflow-copier)
template.

---

TODO-copier-package Finish writing docs intro page
TODO-copier-package Intro to datasets, features, and models
