$schema: "https://json-schema.org/draft/2020-12/schema"
description: The main configuration schema for the workflow.

# PATHS
# =====
#
# `input:`, `output:`, `log:`, and `benchmark:`
# ---------------------------------------------
#
# Paths passed to these directives are considered to be
# relative to the working directory (either the directory in which
# you have invoked Snakemake or whatever was specified for
# `--directory` or the `workdir:` directive).
#
# If this workflow is used as a module in another workflow,
# the paths are relative to the ('outer') Snakefile that
# imports this workflow.
#
# `conda:`, `include:`, `script:`, `notebook:`, `shell:`, and `resources:`
# ------------------------------------------------------------------------
#
# Paths passed to these directives are considered to be relative to the
# Snakefile or .smk file they are defined in.
#
# Use `workflow.source_path(file_path)` to do the following:
# (a) computes the correct path relative to the current Snakefile
#     or *.smk file such
#     that the file can be accessed from any working directory, and
# (b) downloads remote files to a local cache:
properties:
  DOCS_ASSETS_DIR:
    type: string
    description: >-
      Directory for assets used by the documentation that have been
      created by the workflow.

      This should only be used relative to the working directory
      (either the directory in which you have invoked Snakemake or
      whatever was specified for `--directory` or the `workdir:` directive).

      If this workflow is used as a module in another workflow,
      the paths are relative to the working directory of the `snakemake`
      call that imports this workflow.

  DOCS_SITE_DIR:
    type: string
    description: >-
      Directory for the generated documentation site.

      This should only be used relative to the working directory
      (either the directory in which you have invoked Snakemake or
      whatever was specified for `--directory` or the `workdir:` directive).

      If this workflow is used as a module in another workflow,
      the paths are relative to the working directory of the `snakemake`
      call that imports this workflow.

  REPORTS_DIR:
    type: string
    description: >-
      Directory for reports relative to the project root.

      This should only be used relative to the working directory
      (either the directory in which you have invoked Snakemake or
      whatever was specified for `--directory` or the `workdir:` directive).

      If this workflow is used as a module in another workflow,
      the paths are relative to the working directory of the `snakemake`
      call that imports this workflow.

  REPORT_TEMPLATES_DIR:
    type: string
    description: >-
      Directory for report templates relative to the project root.

      This should only be used relative to the working directory
      (either the directory in which you have invoked Snakemake or
      whatever was specified for `--directory` or the `workdir:` directive).

      If this workflow is used as a module in another workflow,
      the paths are relative to the working directory of the `snakemake`
      call that imports this workflow.

  LOG_DIR:
    type: string
    description: >-
      Each rule will write its logs to a subdirectory of this directory.
      This value should only be used in the `log:` directive.
      Snakemake will automatically delete existing logs for the rule
      before running the rule.

      This should only be used relative to the working directory
      (either the directory in which you have invoked Snakemake or
      whatever was specified for `--directory` or the `workdir:` directive).

      If this workflow is used as a module in another workflow,
      the paths are relative to the working directory of the `snakemake`
      call that imports this workflow.

  CONDA:
    type: object
    description: >-
      Conda environment configuration for the workflow.
      Generated by pyproject2conda from the configuration in `pyproject.toml`
    properties:

      ENVS_DIR:
        type: string
        description: >-
          Directory for conda environments relative to the project root.

          This should only be used relative to the working directory
          (either the directory in which you have invoked Snakemake or
          whatever was specified for `--directory` or the `workdir:` directive).

          If this workflow is used as a module in another workflow,
          the paths are relative to the working directory of the `snakemake`
          call that imports this workflow.

      PYPROJECT2CONDA_DIR:
        type: string
        description: >-
          Directory for pyproject2conda environment files.

          This should only be used relative to the working directory
          (either the directory in which you have invoked Snakemake or
          whatever was specified for `--directory` or the
          `workdir:` directive).

          If this workflow is used as a module in another workflow,
          the paths are relative to the working directory of the `snakemake`
          call that imports this workflow.

      LOCALIZED_DIR:
        type: string
        description: >-
          Directory for localized conda environments.

          Created by calling `snakemake conda_localize` before running
          any other rule that uses the `conda:` directive.

          This should only be used relative to the working directory
          (either the directory in which you have invoked Snakemake or
          whatever was specified for `--directory` or the `workdir:`
          directive).

          If this workflow is used as a module in another workflow,
          the paths are relative to the working directory of the `snakemake`
          call that imports this workflow.

          When used within a `conda:` directive, normally it would be relative
          to the Snakefile or .smk file that defines the rule. However, if you use
          `get_localized_conda(config["CONDA"]["ENVS"][<ENV_KEY>])`
          in a rule, it will return the path relative to the working directory
          of the `snakemake` call that imports this workflow.

      ENVS_META:
        type: object
        description: >-
          Minimal conda environments for running and testing the workflow.
          These environments are generated by pyproject2conda from the
          configuration in `pyproject.toml` and then committed to the
          repository.
        properties:

          TOX:
            type: string
            description: >-
              Conda environment name for running Tox tests.

          WORKFLOW:
            type: string
            description: >-
              Conda environment name for running the workflow.

      ENVS:
        type: object
        description: >-
          Conda environments used by the `conda:`
          directive of Snakemake rules.
        properties:

          CORE:
            type: string
            description: >-
              Core conda environment name for the python package
              (without any extras).

          CORE_EXTRAS:
            type: string
            description: >-
              Core conda environment name for the python package
              with all extras.

          DEV:
            type: string
            description: >-
              Development conda environment name.

          DEV_EXTRAS:
            type: string
            description: >-
              Development conda environment name with all package extras.

          DOCS:
            type: string
            description: >-
              Conda environment name for rules that generate documentation.

          NOTEBOOK:
            type: string
            description: >-
              Conda environment name for rules that modify Jupyter notebooks.
